.fs-7 { font-size: 0.75rem; } 
@media (min-width: 500px) {
	.fs-sm-6 { font-size: 0.9rem; }
}
@media (min-width: 768px) {
	.fs-md-8 { font-size: 0.75rem; }
}
@media (min-width: 992px) {
	.fs-lg-6 { font-size: 0.85rem; }
}

.div-rounded-md{
	border-radius: 0rem;
}
@media (min-width: 992px) {
    .div-rounded-md {
      border-radius: 0.75rem; /* Bootstrap'ta rounded-3 ≈ 0.75rem */
    }
  }

.m-lg-3{
	margin: 0;
}
@media(min-width: 992px){
	.m-lg-3{
		margin: 1rem;
	}
}

.border-solid{
	border-top: 3px solid #3a506b;
	border-bottom: 3px solid #3a506b;
}


nav {
	width: 100%;
	height: 60px;
	color: #f5f5dc;
	background-color: #ff8c00;
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}
#name{
	display: inline;
	margin: 10%;
}
.navwords{
	color: white;
	text-decoration: none;
	margin: 4%;
}
#projeler, #iletişim, #hakkımda{
	margin: 5% auto 0 auto;
	width: 60%;
	height: auto;
	background-color: burlywood;
	text-decoration: none;
	color: black;
	padding-left: 15px; 
	padding-top: 5px;
	padding-bottom: 5px;
}
.maddeler{
	text-decoration: none;
	color: black;
}
