.fs-7 { font-size: 0.75rem; } 
@media (min-width: 500px) {
	.fs-sm-6 { font-size: 0.9rem; }
}
@media (min-width: 768px) {
	.fs-md-8 { font-size: 0.75rem; }
}
@media (min-width: 992px) {
	.fs-lg-6 { font-size: 0.85rem; }
}

.div-rounded-md{
	border-radius: 0rem;
}
@media (min-width: 992px) {
    .div-rounded-md {
      border-radius: 0.75rem; /* Bootstrap'ta rounded-3 ≈ 0.75rem */
    }
  }

  .div-rounded-lg{
	border-radius: 0rem;
}
@media (min-width: 992px) {
    .div-rounded-lg {
      border-radius: 1.75rem; /* Bootstrap'ta rounded-3 ≈ 0.75rem */
    }
  }

.m-lg-3{
	margin: 0;
}
@media(min-width: 992px){
	.m-lg-3{
		margin: 1rem;
	}
}

.border-solid{
	border-top: 3px solid #3a506b;
	border-bottom: 3px solid #3a506b;
}

.nav-link.active {
	color: #6fb0ff !important; /* Bootstrap'in ana mavisi */
	background-color: #343a40;
}

.hover-effect-primary {
	transition: all 0.3s ease !important; 
}
.hover-effect-primary:hover {
	background-color: #0d6efd !important;
	color: white !important;
}

.hover-effect-secondary {
	transition: all 0.3s ease !important; 
}
.hover-effect-secondary:hover {
	background-color: #198754 !important;
	color: white !important;
}

.hover-effect-danger {
	transition: all 0.3s ease !important; 
}
.hover-effect-danger:hover {
	background-color: #dc3545 !important;
	color: white !important;
}

.hover-effect-warning {
	transition: all 0.3s ease !important; 
}
.hover-effect-warning:hover {
	background-color: #ffc107 !important;
	color: black !important;
}


